<%- model_class = Person -%>
<div class="row centered-form">
  <div class="col-xs-4 col-sm-4 col-md-4 col-sm-offset2 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h3>
      </div>
        <%= render :partial => 'form' %>
    </div>
  </div>
</div>