/*
*= require_self
//= require jquery-ui
*= require dataTables/src/demo_table_jui
*= require_tree .
*/
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.centered-form{
  margin-top: 60px;
}

.links {
    margin-top: 45px;
}

.alert {
    text-align: center;
    margin-top: 20px;

}
